<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="weight-scale">
    <div id="title">Current Weight</div> 
    <div id="weight">0 kg</div>
    <div class="pointer"></div>

    <div class="dial-wrapper" id="myDial">

      <!-- <div><span>- 2</span></div>
      <div><span>- 1</span></div>
      <div><span>0</span></div>
      <div><span>1</span></div>
      <div><span>2</span></div>
      <div><span>3</span></div>
      <div><span>4</span></div>
      <div><span>5</span></div>
      <div><span>6</span></div>
      <div><span>7</span></div>
      <div><span>8</span></div>
      <div><span>9</span></div>
      <div><span>10</span></div>
      <div><span>11</span></div> -->
  </div>

  </div>



</ion-content>
